# Letsencrypt bootstrap config.  This is just enough to create a certificate.
# Should get replaced by the end of a site deployment.

server {
  listen              80;
  server_name         {{ item.name }};

  # Let's Encrypt CertBot
  location /.well-known/acme-challenge {
    alias {{ certbot_path }}/.well-known/acme-challenge;
  }

  # root
  location / {
    return 404;
  }
}
