server {
  listen              80;
  server_name         {{ item.name }};

  # Let's Encrypt CertBot
  location /.well-known/acme-challenge {
    alias {{ nginx_certbot_htdocs_path }}/.well-known/acme-challenge;
  }

  # root
  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  listen              443;
  server_name         {{ item.name }};

  ssl                 on;
  ssl_certificate     {{ item.cert_path | default(nginx_cert_path) }}/{{ item.name }}/fullchain.pem;
  ssl_certificate_key {{ item.key_path | default(nginx_key_path) }}/{{ item.name }}/privkey.pem;

  access_log          /var/log/nginx/{{ item.name }}.access.log;

  # Application provided config for /srv/{{ item.name }}
  include /srv/{{ item.name }}/etc/*.nginx.conf;

{% if item.robots == "disallow" %}
  # robots.txt overlay
  location =/robots.txt {
    alias             /srv/robots/robots.disallow.txt;
  }
{% endif %}



}
